body {
    scrollbar-width:none;
    overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar-track {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}

.row {
    justify-content: center;
}
