textarea {
    border-radius: 555px 25px 15px 5px/1px 5px 35px 555px !important;
}


body {
    background: #e1e9f5;
}

.iphone-x {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    margin: 45px auto;
    width: 375px;
    height: 812px;
    background-color: #ebf1fa;
    background-image: linear-gradient(60deg, #ebf1fa 1%, #ebf1fa 100%);
    border-radius: 40px;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
}
.iphone-x:before, .iphone-x:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.iphone-x:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.iphone-x:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
}

.iphone-x > i, .iphone-x > b, .iphone-x > s {
    position: absolute;
    display: block;
    color: transparent;
}
.iphone-x > i {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: #101010;
    border-radius: 8px;
    box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
}
.iphone-x > b {
    left: 15%;
    top: 0px;
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 12px;
    box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
}
.iphone-x b:after {
    content: '';
    position: absolute;
    background-color: #2d4d76;
    width: 6px;
    height: 6px;
    top: 2px;
    left: 2px;
    top: 3px;
    left: 3px;
    display: block;
    border-radius: 4px;
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}


.content::-webkit-scrollbar-track {
    display: none;
}
.content::-webkit-scrollbar {
    display: none;
}
.content {
    padding: 3em 0.5em 0em 0.5em;
    overflow-y: auto;
    height: 94%;

}
